  <header class="navbar navbar-fixed-top navbar-inverse">
    <div class="navbar-inner">
       <%= link_to image_tag("GoTimeLogo.png", width:'230', alt:"logo missing"), root_path, id: "logo" %>
        <nav class="nav pull-right">
            <%= link_to "Home", root_path, class: "btn btn-default navbar-btn" %>
            <%= link_to "Contact Us", contact_us_path, class: "btn btn-default navbar-btn" %>
            <%= link_to "The Science", the_science_path, class: "btn btn-default navbar-btn" %>
            <%= link_to "My Account", my_account_path, class: "btn btn-default navbar-btn" %>
            <%= link_to "Shopping Cart", shopping_cart_path, class: "btn btn-default navbar-btn" %>

         <!-- <nav>-->
         <!-- <ul class="nav pull-right">-->
            <!-- <li><%= link_to "Home", root_path %></li>-->
            <!-- <li><%= link_to "Contact Us", contact_us_path %></li>-->
            <!-- <li><%= link_to "The Science", the_science_path %></li>-->
            <!-- <li><%= link_to "My Account", my_account_path %></li>-->
            <!-- <li><%= link_to "Shopping Cart", shopping_cart_path %></li>-->
         <!-- </ul>--> 


        </nav>
    </div>
  </header>

