  <header class="navbar navbar-fixed-top navbar-inverse">
    <div class="navbar-inner">
       <%= link_to image_tag("GoTimeLogo.png", width:'200', alt:"logo missing"), root_path, id: "logo" %>
        <nav>
          <ul class="nav pull-right">
            <li><%= link_to "Home", root_path %></li>
            <li><%= link_to "Contact Us", contact_us_path %></li>
            <li><%= link_to "The Science", the_science_path %></li>
            <li><%= link_to "My Account", my_account_path %></li>
            <li><%= link_to "Shopping Cart", shopping_cart_path %></li>
          </ul>
        </nav>
      </div>
    </div>
  </header>

